.DS_Store
.vscode/
# Ignore CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
_deps/
Release/
build/
# Data
data/edges.csv
data/nodes.csv
data/path.csv
data/tarns.csv
data/path/*
data/markers/*
path.svg
log.txt
data/tarns.json
